# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.next
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
config.xml
tsconfig.tsbuildinfo

*.log
log.txt
npm-debug.log*

# lock files
yarn.lock
package-lock.json

public/sitemap.xml
public/feed.xml
/.cache/
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
.env
.env.local
.env.development
.env.local
.netlify
/node_modules
/platforms
/plugins
/www
/.next/*
.vercel


/resources

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

out/